* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body, button {
    font-family: 'Montserrat', sans-serif;
}

aside {
    width: 225px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040404;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.hiddenxs {
    width: 210px;
    text-align: center;
    padding: 25px 35px 30px 25px;
}

aside .navbar {
    padding-left: 30px;
}

aside a {
    text-decoration: none;
    color: #B3B3B3;
    transition: color linear 0.2s;
}

aside li {
    list-style-type: none;
}

aside .navbar li {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}

aside .navbar i {
    font-size: 20px;
    padding-right: 15px;
}

.navbar a:hover {
    color: white;
}

aside p {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0;
}

.playlist {
    padding-left: 30px;
}

.playlist li {
    padding-bottom: 20px;
    font-size: 14px;
    color: lightgray;
}

.playlist i {
    font-size: 50px;
    padding-right: 10px;
}

.playlist a {
    color: #B3B3B3;
    transition: color linear 0.2s;
}

.playlist a:hover {
    color: white;
}

.playlistcreatecenter {
    display: flex;
    align-content: center;
}


.userinfo .xs-visualization a {
    color: gray;
    font-size: 15px;
    padding-bottom: 10px;
}

.userinfo i {
    padding-right: 10px;
}

.userinfo h3 {
    padding-top: 20px;
    color: white;
    font-size: 14px;
}

.userinfo h3 i {
    font-size: 25px;
}

@media screen and (min-width: 769px) {
    .xs-visualization, .hiddens-md-lg {
        display: none;
    }

    .userinfo a {
        color: gray;
        font-size: 15px;
        padding-bottom: 10px;
        border-bottom: 2px solid gray;
    }

    .userinfo {
        padding: 0 30px;
    }
}

@media screen and (max-width: 768px) {
    aside {
        width: 50px;
    }

    aside img {
        width: 40px;
        margin-left: 6px;
        padding-top: 5px;
    }

    .s-md-lg-visualization, .hiddenxs {
        display: none;
    }

    .playlist {
        display: none;
    }

    aside .navbar {
        padding-top: 15px;
        padding-left: 12px;
    }

    .fa-home:before, .fa-search:before, .fa-book:before {
        font-size: 25px;
    }

    .userinfo {
        padding-left: 15px;
    }
}

header {
    background-color: black;
    width: calc(100vw - 225px);
    height: 90px;
    position: fixed;
    top: 0;
    left: 225px;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

header button {
    width: 300px;
    height: 50px;
    background-color: white;
    padding: 10px 0;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    header {
        width: calc(100vw - 50px);
        left: 50px;
    }
}

main {
    width: calc(100vw - 225px);
    margin: 90px 0 0 225px;
    background-color: rgb(20, 25, 34);
    padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
    main {
        width: calc(100vw - 50px);
        margin: 90px 0 0 50px;
        background-color: rgb(20, 25, 34);
    }
}

main a {
    text-decoration: none;
}

.links {
    padding-top: 15px;
    text-align: center;
}

.links li {
    display: inline-block;
}

.links a {
    color: rgb(125, 127, 132);
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
    padding-bottom: 10px;
}

.links a:hover {
    border-bottom: 2px solid lime;
}

#h2toptext {
    color: white;
    padding: 20px 0 20px 50px;
}

.container {
    margin-left: 30px;
}

.musicsection h2,h5 {
    color: white;
}

.musicsection h2 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.musicsection h5 {
    padding: 10px 0;
}

.musicsection p {
    color: rgb(125, 127, 132);
    font-weight: 600;
    margin-bottom: 15px;
}

.music {
    float: left;
    text-align: center;
    margin-right: 30px;
    position: relative;
}

.music img {
    opacity: 1;
    transition: opacity linear 0.1s;
}

.music img:hover {
    opacity: 0.2;
}

.overlay span {
    display: none;
    position: absolute;
    top: 63px;
    left: 57px;
    color: white;
}

.overlay:hover span {
    display: visible;
}

footer {
    z-index: 9999;
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: #282828;
}

.paddingfooter {
    width: 100%;
    height: 100%;
    padding: 15px 10px 25px 10px;
}

.userandsonginfo, .musicplayer, .iconsplayer {
    width: 33%;
    float: left;
}

.musicplayer {
    height: 80px;
}
.btmimg {
    float: left;
}

.btmimg img {
    padding-top: 10px;
    padding-right: 15px;
}

.btmuserinfo {
    float: left;
}

.btmusericons {
    float: left;
}

.btmuserinfo h6 {
    color: white;
    padding-top: 20px;
    font-size: 12px;
}

.btmuserinfo p {
    color: rgb(125, 127, 132);
    padding-top: 2px;
    font-size: 12px;
}

.btmusericons {
    padding-top: 15px;
    padding-left: 10px;
    width: 35px;
}

.btmusericons a {
    font-size: 16px;
    color: white;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .btmuserinfo {
        max-width: 30px;
    }
}

.musicplayer {
    text-align: center;
}

.songplayed {
    margin-left: 12.5%;
    width: 75%;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 5px solid gray;
}

.musicplayer i {
    color: white;
}

.fa-random {
    font-size: 20px;
}

.fa-step-backward {
    font-size: 21px;
    padding-left: 5%;
}

.fa-play-circle {
    font-size: 30px;
    padding: 0 5%;
}

.fa-step-forward {
    font-size: 21px;
    padding-right: 4%;
}

.minutetime {
    display: flex;
    justify-content: space-between;
}

.minutetime p {
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 25px;
    transform: translateY(-10px);
}

.iconsplayer {
    display: flex;
    justify-content: flex-end;
}

.iconsplayer i {
    color: white;
    font-size: 18px;
    margin-right: 5%;
    padding-top: 27px;
}

.volumeline {
    height: 39px;
    width: 25%;
    border-bottom: 5px solid gray;
    margin-right: 5%;
}
