* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

aside {
    width: 225px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040404;
    display: flex;
    flex-direction: column;
}

.hiddenxs {
    width: 210px;
    text-align: center;
    padding: 25px 35px 30px 25px;
}

aside .navbar {
    padding-left: 30px;
}

aside a {
    text-decoration: none;
    color: white;
}

aside li {
    list-style-type: none;
}

aside .navbar li {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}

aside .navbar i {
    font-size: 20px;
    padding-right: 15px;
}

aside p {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0;
}

.playlist {
    padding-left: 30px;
}

.playlist li {
    padding-bottom: 20px;
    font-size: 14px;
    color: lightgray;
}

.playlist i {
    font-size: 50px;
    padding-right: 10px;
}

.userinfo .xs-visualization a {
    color: gray;
    font-size: 15px;
    padding-bottom: 10px;
}

.userinfo i {
    padding-right: 10px;
}

.userinfo h3 {
    padding-top: 20px;
    color: white;
    font-size: 14px;
}

.userinfo h3 i {
    font-size: 25px;
}

@media screen and (min-width: 769px) {
    .xs-visualization, .hiddens-md-lg {
        display: none;
    }

    .userinfo a {
        color: gray;
        font-size: 15px;
        padding-bottom: 10px;
        border-bottom: 2px solid gray;
    }

    .userinfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 30px;
    }
}

@media screen and (max-width: 768px) {
    aside {
        width: 50px;
    }

    aside img {
        width: 40px;
        margin-left: 6px;
        padding-top: 5px;
    }

    .s-md-lg-visualization, .hiddenxs {
        display: none;
    }

    .playlist {
        display: none;
    }

    aside .navbar {
        padding-top: 15px;
        padding-left: 12px;
    }

    .fa-home:before, .fa-search:before, .fa-book:before {
        font-size: 25px;
    }

    .userinfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 15px;
    }
}

header {
    width: calc(100vw - 225px);
    height: 75px;
    position: fixed;
    top: 0;
    left: 225px;
}

main {
    width: calc(100vw - 225px);
    margin: 75px 0 0 225px;
}


footer {
    z-index: 9999;
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0;
}
